@tailwind base;
@tailwind components;
@tailwind utilities;

#github-button {
  background-color: #484545 !important;
}

.loading_fab {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.my_button {
  background-color: #ac50c3;
}

.my_button:hover {
  background-color: #ac50c3;
  opacity: 0.8;
}

.footer_btn {
  background-color: #fff;
}

.footer_btn:hover {
  background-color: #fff;
  opacity: 0.8;
}

.cropper {
  width: 100%;
  height: 100%;
  height: 74vh;
}

.cropper .cropper-wrap-box,
.cropper .cropper-drag-box,
.cropper .cropper-bg {
  box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.1);
}

.cropper .cropper-modal {
  opacity: 0.1 !important;
}

.cropper .cropper-bg {
  /*can change the backgroundimage */
  background-image: url("/tiles.webp");
  background-size: cover;
}
